body {
  background-color: aquamarine;
  font-family: sans-serif;
  margin: 0px;
}

.imagenes-container {
  display: flex;
  margin: 100px auto;
  width: 500px;
}

.imagenes-container .imagen {
  display: inline-flex;
  /*
  Asignando a flex-direction el valor column, indicamos que queremos que los dos <span> se deben mostrar uno sobre el otro, y que cada uno de los divs se mostraran uno al lado del otro
  */
  flex-direction: column;

  margin-right: -20px;
  position: relative;
}

.imagenes-container .imagen img {
  height: 50px;
  width: 50px;
}

.imagenes-container .imagen .nombre {
  background-color: black;
  border-radius: 5px;
  color: white;
  display: none;
  min-width: 100px;
  padding: 10px 15px;
  width: 150px;

  /*
  Con estas dos reglas hacemos que el texto que hay en la clase nombre se muestre por encima de la imagen
  */
  position: absolute;
  top: -55px;
  left: calc(-50%);
}

.imagenes-container .imagen .nombre .texto {
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  width: 150px;
  text-align: center;
  box-sizing: border-box;
}

.imagenes-container .imagen:hover .nombre {
  display: inline-block;
}

.imagenes-container .imagen .nombre::before {
  content: "";
  position: absolute;
}