body {
    font-size: 20px;
}
h1 {
    color: #48e;
    font-family: sans-serif;
    margin: 30px;
}

/*
Evento que ocurre al pasar el ratón por encima del <h1>
*/
h1:hover {
    color: white;
    background-color: chocolate;
}

/*
Evento que ocurre al hacer clic sobre el elemento <h1>
*/
h1:active {
    background-color: blue;
    color: crimson;
}

li {
    font-size: 20px;
}

/*
Seleccionando el primer <li> del <ul>
*/
.non li:first-child {
    color: green;
}

/*
Seleccionando el último <li> de <ul>
*/
.non li:last-child {
    color: blueviolet;
}

/*
Seleccionando un <li> cualquiera dentro de un <ul>.
Poner un número modificará el <li> que este en esa posición.
Poner xn modificará los <li> saltando aquellos que no cumplan esa regla.
Cualquier elemento que este entre el flujo de <li> lo detiene.
*/
.non li:nth-child(2n) {
    color: gold;
}

/*
Para excluir un elemento de darle un atributo general.
*/
.lista li:not(.excluir) {
    color: #f00;
}

/*
Para seleccionar un elemento vacio
*/
div {
    border: 1px solid black;
}

div:empty {
    border: none;
}

/*
Evento que ocurre al marcar una casilla de selección.
*/
input[type="checkbox"] {
    margin: 50px;
}

input[type="checkbox"]:checked {
    margin: 10px;
}

/*
Selección de enlaces no visitados
*/
a:link {
    color: red;
}

/*
Selección de enlaces visitados
*/
a:visited {
    color: green;
}

/*
Marcamos un input escrito correctamente
*/
input:valid {
    color: #0f0;
}

/*
Marcamos un input escrito incorrectamente
*/
input:invalid {
    color: #f00;
}