/*
Selector por atributo:
src="nombre_del_archivo" -> Para modificar los elementos que tengan ese atributo concreto.
src^="clave" -> para modificar los elementos con atributos que empiecen por la clave.
src$="clave" -> para modificar los elementos cuyo atributo termine en una clave concreta.
*/

img[src^="IMAGES/d"] {
    width: 60%;
}

/*
Selector por hijo directo:
Sirven para dar caracteristicas a elementos dependiendo de su posición en la cascada.
El modificador > indica que el elemento al que señala es hijo directo del elemento anterior
*/

li {
    color: blue;
}

ul li {
    color: grey;
}

/*
Selector por hijo directo:
Selecciona un elemento que este justo por debajo en la jerarquía de la cascada. El formato es "elemento > elemento > ...".
*/

ul > strong {
    color: green;
}

/*
Selector adyacente:
Selecciona un elemento que venga precedido por un elemento concreto. Se pueden poner más de un elemento, pero en el camino no pueden haber otros elementos, por que rompe la cadena. El formato es "elemento + elemento +...".
*/

h1 + p + p {
    color: cyan;
}

/*
Selector de hermanos generales:
Selecciona todos los elementos de un tipo que sigan a un elemento concreto. El formato es "elemento ~ elemento".
*/

/* h1 ~ p {
    color: brown;
} */