/* Edición de paámetros para toda la página */

body {
    margin: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: start;
    min-height: 100vh;
}

div, body {
    box-sizing: border-box;
}

aside, main {
    border: 1px solid red;
    padding: 10px 20px;
}

nav a {
    text-decoration: none;
}

header, footer {
    width: 100%;
}

footer {
    margin-top: auto;
    border: 1px solid red;
    background-color: #333;
    color: #fff;
    padding: 40px;
}

/* Edición de la cabecera de la página */

.cabecera {
    background-color: #48e;
}

.navbar-principal ul {
    display: flex;
    padding: 0;
}

.navbar-principal li {
    list-style: none;
    margin: 4px;
}

.navbar-principal a {
    color: #fff;
    display: inline-block;
    padding: 6px 9px;
}

/* Edición de la sección principal */

.seccion-principal {
    display: flex;
    width: 100%;
    flex-grow: 1;
}

.seccion-principal aside {
    flex-grow: 1;
}

.navbar-secundaria {
    min-width: 12rem;
    text-align: center;
}

.navbar-secundaria ul {
    padding: 0;
}

.navbar-secundaria li {
    list-style: none;
}

.navbar-secundaria a {
    color: #48e;
    display: inline-block;
    padding: 6px 10px;
}