body {
  font-family: sans-serif;
  margin: 0px;
}

header {
  align-items: center;
  background-color: #14161a;
  display: flex;
  justify-content: space-between;
  min-height: 70px;
  padding: 10px;
}

a {
  color: white;
  text-decoration: none;
}

.logo {
  align-items: center;
  display: flex;
}

.logo img {
  height: 50px;
  margin-right: 10px;
}

nav a {
  font-weight: 600;
  padding-right: 10px;
}

nav a:hover {
  color: chartreuse;
}

/* Sección para dispositivos móviles */

@media (max-width: 680px) {

  header {
    flex-direction: column;
  }

  nav {
    padding: 10px 0px;
  }

}