/* Elements principals de la pàgina */
body {
    margin: 0;
    padding: 0;
    font-size: 22;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #191919;
    color: #e1e1e1;
}

header,footer {
    width: 100%;
    height: 3em;
    text-align: center;
    /* background: #010409; */
}

header {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #e1e1e1;
}

footer {
    margin-top: auto;
    border-top: 1px solid #e1e1e1;
}

.capsalera {
    text-decoration: none;
}

/* Elements i sub-elements de <div class="caixa"> */

.esquerra {
    background-color: #0c0f14;
    width: 600px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 5px #fff7;
    margin: 25px auto 25px auto;
}

.esquerra h2 {
    width: 80%;
    margin: 0 auto 10px auto;
    padding: 15px 0 10px 0;
    border-bottom: 1px solid #e1e1e1;
}

.esquerra p {
    width: 65%;
    padding: 3px;
    margin: 5px auto 5px auto;
    /* border: 1px solid #e1e1e1; */
    border-radius: 5px;
}

.esquerra p.arcanum {
    /* background-color: #f86; */
    color: #f86;
}

.esquerra p.no-edit {
    /* background-color: #04241a; */
    color: #433e7d;
}

.principal {
    text-align: justify;
    width: 800px;
    box-sizing: border-box;
    margin: 25px auto 25px auto;
    padding: 20px 0;
    border: 1px solid;
    border-radius: 20px;
}

.principal h2 {
    width: 80%;
    text-align: center;
    margin: 0 auto 10px auto;
    padding: 0;
    border-bottom: 1px solid #e1e1e1;
}

.principal p {
    width: 85%;
    margin: 5px auto 5px auto;
}

.principal p.sub-titol {
    text-align: center;
    margin-top: 20px;
    font-weight: 700;
}