body {
    background-color: #fff;
    font-family: sans-serif;
    color: #fff;
}

.caixa {
    text-align: center;
    width: 300px;
    margin: auto;
    margin-top: 20px;
    padding: 20px 10px;
    box-shadow: 0 0 15px #0007;
    border-radius: 8px;
}

.blau {
    background-color: #6ac;
}

.verd {
    background: chartreuse;
}

.roja {
    background: #f86;
}

.card-img {
    width: 125px;
    border-radius: 50px;
}

.card-title {
    padding-top: 10px;
    font-size: 22px;
    margin: 0;
}
.card-subtitle {
    font-size: 13px;
    font-weight: 100px;
    margin: 0;
    margin-top: 5px;
    letter-spacing: 2px;
}

.card-content {
    font-size: 9px;
    padding: 10px 20px;
    padding-bottom: 0;
    text-align: justify;
    margin-bottom: 0;
}