body {
    margin: 0;
    background-color: chartreuse;
}

h1 {
    margin: 0;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-family: sans-serif;

}
.caixa {
    width: 300px;
    height: 200px;
    background: linear-gradient(#000a,transparent,#000a);
    /* background: radial-gradient(transparent,#000a); */
    margin: 20px auto auto auto;
    border-top: 6px solid #900;
    border-radius: 20px;
    box-shadow: 0 0 55px 0 #0006;
}