body {
  margin: 0px;
  padding: 0px;
}

.titulo {
  height: auto;
  text-align: center;
  width: 500px;
  padding: 15px;
  margin: 15px;
  background-color: aquamarine;
}

.primary {
  height: auto;
  text-align: justify;
  width: 500px;
  padding: 15px;
  margin: 15px;
  /*border-radius: 0;
  border: 1px solid black;*/
}


.secondary {
  height: auto;
  font-style: italic;
  text-align: justify;
  width: 500px;
  padding: 15px;
  margin: 15px;
  /*border-radius: 0 30% 30% 0;
  border: 1px solid black;*/
}